/*DEFAULT STYLE*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*STYLES FOR ALL CONTAINERS*/
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url("/public/images/pokemon.gif") no-repeat center center/cover;
    margin: 0;
    font-family: 'Bangers', cursive;
    letter-spacing: 0.1em;
}

/*HEADER */

.content-header, .top-navegation{
    border: 1px solid #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-logo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin:auto;
    max-width: 20%;
}
.login{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin:auto;
}